{% extends "app/base.html" %}
{% block title %} <title>Login to use app!</title>
{% endblock title %}


{% block content %}


<div class="center-text">
    <form method="POST">
    {%csrf_token%}
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
<!--        <label>Login:</label>-->
        <input class="my-username-class" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
            maxlength="150" class="my-username-class"  id="id_username" placeholder="Username"></p>

        <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
<!--        <label>Password:</label>-->
        <input class="my-password-class" type="password" name="password" autocomplete="current-password"
               class="my-password-class"  id="id_password" placeholder="Password"></p>
        <br>


        <br/>
        <input type="submit" value="Login" style="margin-left:50px;">
        </br>
        </br>
        <span style="font-size:17px;">Don't you have an account yet? Click <a href="{% url 'register' %}"><b>here</b></a></span>

    </form>

    </div>

{% endblock %}